<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="user/fragments :: userFullName(${profileOwner})"></title>
</head>
<body>

<th:block th:fragment="profile-owner-card(profileOwner)">
    <div class="col-sm-3 user-profile-wrapper">
        <div class="card custom-box">
            <th:block th:replace="user/fragments :: userPhoto(${profileOwner})">
            </th:block>
            <div class="card-body">
                <div class="profile-information">
                        <span>
                            <h3>
                            <th:block th:replace="user/fragments :: userFullName(${profileOwner})">
                            </th:block>
                        </h3>
                            <span>
                                <th:block th:replace="user/fragments :: displayUserName(${profileOwner})">
                                </th:block>
                            </span>
                        </span>
                    <span th:class="profile-follow-unfollow-button-wrapper"
                          th:include="profile/fragments :: followButton(${profileOwner}, ${userIsFollowed}, true)">
                    </span>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="profile-rollup(type, userList)">
    <div class="col-sm-9">
        <div class="card custom-box">
            <div class="text-center my-posts">
                <h3 class="card-header" th:text="${type}"></h3>
            </div>
            <div class="card-body">
                <div class="user-list-wrapper">
                    <th:block th:each="mapEntry : ${userList}">
                        <th:block
                                th:replace="profile/fragments :: profile-card-flat(${mapEntry.key}, ${mapEntry.value})">
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="profile-card-flat(owner, isFollowed)">
    <div class="flex-container">
        <div class="profile-card-flat">
            <span>
                <span class="image-post">
                    <th:block th:replace="user/fragments :: userPhoto(${owner})">
                    </th:block>
                </span>
                <span>
                <a th:href="@{'/profiles/' + ${owner.userName}}">
                    <th:block th:replace="user/fragments :: userFullName(${owner})">
                    </th:block>
                </a>
                </span>
                </span>
            <span>
                    <th:block th:replace="profile/fragments :: followButton(${owner}, ${isFollowed}, false)">
                    </th:block>
             </span>
        </div>
        <hr/>
    </div>
</th:block>

<th:block th:fragment="followButton(user, isFollowed, targetIsInUrl)">
    <th:block th:if="null != ${session.user} AND ${user.userName} != ${session.user.userName}">
        <th:block th:if="${true == isFollowed}">
            <button class="unfollow-button btn btn-outline-primary my-2 my-sm-0 active"
                    th:classappend="${targetIsInUrl == true} ? '' : 'notSelf'">
                Unfollow
            </button>
        </th:block>
        <th:block th:if="${null == isFollowed} OR ${false == isFollowed}">
            <button class="follow-button btn btn-outline-primary my-2 my-sm-0"
                    th:classappend="${targetIsInUrl == true} ? '' : 'notSelf'">
                Follow
            </button>
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="displayNoFollowersButton(user, noFollowers)">
    <a th:href="@{${user.userName} +'/followers'}">
        <button class="btn btn-outline-primary" th:text="${noFollowers +' followers'}"></button>
    </a>
</th:block>

<!--TODO: display 0/-1 when noFollowedPersons is null.-->
<th:block th:fragment="displayNoFollowingUsersButton(user, noFollowedPersons)">
    <a th:href="@{${user.userName} +'/following'}">
        <button class="btn btn-outline-primary" th:text="${noFollowedUsers +' followed persons'}"></button>
    </a>
</th:block>

</body>
</html>