<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="user/fragments :: userFullName(${profileOwner})"></title>
</head>
<body>

<th:block th:fragment="profile-owner-card(profileOwner)">
    <div class="col-sm-3 user-profile-wrapper">
        <div class="card custom-box">
            <th:block th:replace="user/fragments :: userPhoto(${profileOwner})">
            </th:block>
            <div class="card-body">
                <div class="profile-information">
                        <span>
                            <h3>
                            <th:block th:replace="user/fragments :: userFullName(${profileOwner})">
                            </th:block>
                        </h3>
                            <span>
                                <th:block th:replace="user/fragments :: displayUserName(${profileOwner})">
                                </th:block>
                            </span>
                        </span>
                    <span th:replace="profile/fragments :: followButton(${profileOwner})"></span>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="profile-rollup(type, userList)">
    <div class="col-sm-9">
        <div class="card custom-box">
            <div class="text-center my-posts">
                <h3 class="card-header" th:text="${type}"></h3>
            </div>
            <div class="card-body">
                <div class="user-list-wrapper">
                    <th:block th:each="user : ${userList}">
                        <th:block th:replace="profile/fragments :: profile-card-flat(${user})">
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="profile-card-flat(owner)">
    <div class="flex-container">
        <div class="postOwner">
            <div class="image-post" th:include="user/fragments :: userPhoto(${owner})">
            </div>
            <a th:href="@{'/profiles/' + ${user.userName}}">
                <div th:include="user/fragments :: userFullName(${owner})"></div>
            </a>
            <div th:replace="profile/fragments :: followButton(${owner})">
            </div>
            <hr/>
        </div>
    </div>
</th:block>

<th:block th:fragment="followButton(user)" th:if="${session.user} != null" }>
    <th:block th:if="${user.userName} != ${session.user.userName}">
        <th:block th:if="${userIsFollowed == true}">
            <button class="unfollow-button btn btn-outline-primary my-2 my-sm-0 active">Unfollow</button>
        </th:block>
        <th:block th:if="${null == userIsFollowed} OR ${false == userIsFollowed}">
            <button class="follow-button btn btn-outline-primary my-2 my-sm-0">Follow</button>
        </th:block>
    </th:block>
</th:block>


<th:block th:fragment="displayFollowersButton(user, noFollowers)">
    <a th:href="@{${user.userName} +'/followers'}">
        <button class="btn btn-outline-primary" th:text="${noFollowers +' followers'}"></button>
    </a>
</th:block>

<th:block th:fragment="displayNoFollowingUsersButton(user, noFollowedPersons)">
    <a th:href="@{${user.userName} +'/following'}">
        <button class="btn btn-outline-primary" th:text="${noFollowedUsers +' followed persons'}"></button>
    </a>
</th:block>
</body>
</html>