<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="loginFragment">
    <div th:if="${userLoginDTO != null}">
        <form action="login" method="post" th:action="@{/login}" th:object="${userLoginDTO}">
            <label for="loginFormEmail">Email: </label>
            <input id="loginFormEmail" th:field="*{email}" type="email"/><br/>
            <label for="loginFormPassword">Password</label>
            <input id="loginFormPassword" th:field="*{password}" type="password"/><br/>
            <input type="submit" value="Log in"/>
            <span th:if="${badCredentials != null}">Bad credentials</span>
        </form>
    </div>
</div>

<div th:fragment="registerFragment">
    <div id="signupForm" th:if="${userCreated == null}">
        <h1>Register to Demetria!</h1>
        <div>
            <form action="signup" method="post" th:action="@{signup}" th:object="${user}">
                <label for="email">Email: </label>
                <input id="email" th:field="*{email}" type="email"/>
                <span th:if="${emailAlreadyExists != null}">An account associated with this email is already created.</span><br/>
                <label for="password">Password</label>
                <input id="password" th:field="*{password}" type="password"/><br/>
                <label for="passwordMatch">Retype password</label>
                <input id="passwordMatch" th:field="*{passwordMatch}" type="password"/><br/>
                <label for="firstName">First name:</label>
                <input id="firstName" th:field="*{firstName}" type="text"/><br/>
                <label for="lastName">First name:</label>
                <input id="lastName" th:field="*{lastName}" type="text"/><br/>
                <input id="submitButton" type="submit" value="Register"/>
            </form>
        </div>
    </div>
</div>

<div th:fragment="userInfo">
    <form action="#" method="post" th:if="${session.user != null}" th:action="@{profile}" th:object="${modifiedUser}">
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" th:value="${session.user.lastName}"/><br/>
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" th:value="${session.user.firstName}"/><br/>
        <!--        TODO: add an action for changing a password-->
        <button type="button" onclick="">Change password</button>
        <br/>
        <button type="submit">Save</button>
    </form>
    <span id="informationModified" th:if="${informationUpdated == true}">Saved.</span>
</div>

<div th:fragment="changePass">
    <form>
        <input type="password" id="oldPassword"/>
        <input type="password" id="newPassword"/>
        <input type="password" id="newPasswordMatch"/>
    </form>
</div>

<div th:fragment="createAPost">
    <form action="#" method="post" th:action="createAPost" th:object="${post}">
        <textarea rows="10" cols="30" th:field="*{content}"></textarea><br/>
        <label for="visibility">Visibility</label>
        <!--        <select id="visibility" name="visibility">-->
        <!--            <option th:each="visibilityOpt : ${T(com.arrnaux.demetria.core.userPost.model.PostVisibility}.values()}"-->
        <!--                    th:value="${visibilityOpt}" th:text="${visibilityOpt}"></option>-->
        <!--        </select>-->
        <select name="visibilityOption" id="visibility" th:field="*{visibility}">
            <option th:each="visibilityOpt : ${T(com.arrnaux.demetria.core.userPost.model.PostVisibility).values()}"
                    th:value="${visibilityOpt}" th:text="${visibilityOpt.displayValue}"></option>
        </select>
        <button type="submit">Post</button>
        <br/>
    </form>
</div>

<div th:fragment="userPosts">
<!--    A part of user posts-->
    <div>A post</div>
    <div>A single post</div>
    <div>A 3rd post</div>
    <button>More</button>
</div>
</body>
</html>