<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts fragments</title>
</head>
<body>
<!--TODO: only logged user can vote a post-->
<span th:fragment="rateStarts" class="stars">
<!--    Replace this with a for-->
    <!--    TODO: if an user has already voted the post, color the stars corresponding to his vote.-->
    <a class="star-1" href="#">1</a>
    <a class="star-2" href="#">2</a>
    <a class="star-3" href="#">3</a>
    <a class="star-4" href="#">4</a>
    <a class="star-5" href="#">5</a>
</span>
</body>
</html>