<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Posts fragments</title>
</head>

<body>
<!--Stars so an user can vote a post-->
<span th:fragment="rateStarts(noStars, noActiveStars)" class="stars">
    <th:block th:each="i : ${#numbers.sequence(0, noStars-1)}">
        <a th:class="'star-'+${i+1} +' '+|${i<noActiveStars ? 'active' : ''}|" href="#" th:text="${i+1}"></a>
    </th:block>
</span>

<th:block th:fragment=createNewComment(postId) th:if="${null != newComment}">
    <form th:id="${postId} + 'CommForm'" th:action="@{/createComment}" method="post" th:object="${newComment}"
          class="new-comment-form">
        <div class="form-group">
            <textarea type="text" class="form-control" th:field="*{content}" placeholder="Add comment" rows="2">
            </textarea>
            <input type="hidden" name="id" th:value="${postId}"/>
            <br/>
            <button type="submit" class="btn btn-outline-success btn-sm addCommentButton">Add comment</button>
        </div>
    </form>
</th:block>

<div th:fragment="displayPost(post)">
    <article class="user-post flex-container" th:id="${post.id}">
        <div class="post-header flex-item">
            <span class="post-owner">
                <span class="image-post">
                <th:block th:replace="user/fragments :: userPhoto(${post.owner})">
                </th:block>
                </span>
                <a th:href="@{'/profiles/'+ ${post.owner.userName}}">
                    <span th:replace="user/fragments :: userFullName(${post.owner})"></span>
                </a>
            </span>
            <!--        TODO: better display time from the post (hours, day, m, years), with the same structure of the link-->
            <span class="post-creation-date">
                <a th:href="@{'/posts/' + ${post.id}}">
                    <td th:text="'on ' + ${#dates.format(post.creationDate, 'dd MMM')}+': '">
                    </td>
                </a>
                <span class="postRanking">
                    Post rank:
                    <th:block th:text="${#numbers.formatDecimal(post.averageRank, 1, 1)}">
                    </th:block>
                </span>
            </span>
            <span class="right-frame-post-header">
                <span>
                    <th:block th:if="${session.user != null AND session.user.id == post.ownerId}">
                        <button type="button" class="btn btn-link btn-sm deletePostButton">Delete
                            post
                        </button>
                    </th:block>
                </span>
                <span class="private-post-lock">
                    <th:block
                            th:if="${T(com.arrnaux.demetria.core.models.userPost.PostVisibility).PRIVATE == post.visibility}">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </th:block>
                </span>
            </span>
        </div>
        <div class="post-content flex-item" th:text="${post.content}"></div>
        <th:block th:if="${null != session.user}">
            <th:block th:if="${null != post.voteList AND post.voteList.get(0).ownerId == session.user.id}">
                <th:block th:replace="fragments/posts :: rateStarts(5, ${post.voteList.get(0).value})">
                </th:block>
            </th:block>
            <th:block th:unless="${null !=post.voteList AND post.voteList.get(0).ownerId== session.user.id}">
                <th:block th:replace="fragments/posts :: rateStarts(5, 0)">
                </th:block>
            </th:block>
            <br/>
            <div class="post-comments flex-item">
                <div class="post-comment" th:each="comment : ${post.commentList}">
                    <a th:href="@{'/profiles/' + ${comment.owner.userName}}"
                       th:text="${comment.owner.getFullName()}"></a>
                    <span th:text="' on ' +${#dates.format(comment.creationDate, 'dd MMM hh:mm')} + ': '+${comment.content}">
                    </span>
                </div>
                <th:block th:replace="fragments/posts :: createNewComment(${post.id})">
                </th:block>
            </div>
        </th:block>
        <hr/>
    </article>
</div>

<div th:fragment="noMorePosts">
    <article class="userPost" id="noMorePosts">
        <div>No more posts. :(</div>
    </article>
</div>
</body>
</html>
