<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <span th:fragment="profileOwnerInfo" th:object="${profileOwner}">
        <h3 th:text="${profileOwner.lastName+' '+profileOwner.FirstName}"></h3>
    </span>

    <th:block th:fragment="followButton" th:if="${session.user} != null" }>
        <th:block th:if="${profileOwner.userName} != ${session.user.userName}">
            <th:block th:if="${userIsFollowed == true}">
                <button class="unfollow-button btn btn-outline-primary my-2 my-sm-0 active">Unfollow</button>
            </th:block>
            <th:block th:if="${null == userIsFollowed} OR ${false == userIsFollowed}">
                <button class="follow-button btn btn-outline-primary my-2 my-sm-0">Follow</button>
            </th:block>
        </th:block>
    </th:block>
</body>

</html>