<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="#" th:action="http://user-service/login/form" th:object="${SNUserLoginDTO}" method="post">
    <label for="loginFormEmail">Email: </label>
    <input id="loginFormEmail" type="email" th:field="*{email}"/>
    <label for="loginFormPassword">Password</label>
    <input id="loginFormPassword" type="password" th:field="*{password}"/>
</form>
</body>
</html>