<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: headerIncludes">
    <meta charset="UTF-8">
    <title>User profile</title>
</head>

<body>

<nav th:replace="fragments/header :: top-bar"></nav>

<div class="container custom-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card custom-box">
                <th:block th:replace="fragments/userInfo :: userPhoto(${profileOwner})">
                </th:block>
                <div class="card-body">
                    <div class="profile-information">
                        <span>
                            <h3>
                            <th:block th:replace="fragments/userInfo :: userFullName(${profileOwner})">
                            </th:block>
                        </h3>
                        </span>
                        <span th:replace="fragments/userProfileInfo :: followButton"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="card custom-box">
                <div class="text-center my-posts">
                    <h3 class="card-header">My posts</h3>
                </div>
                <div class="card-body">
                    <div class="posts-wrapper">
                        <th:block th:replace="fragments/timeline :: timeline-part">
                        </th:block>
                        <button class="profile-show-more-button btn btn-outline-primary my-2 my-sm-0">
                            Show more posts
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
