<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>
        <th:block th:replace="user/fragments :: userFullName(${profileOwner})">
        </th:block>
        | Demetria
    </title>
    <th:block th:replace="fragments/header :: headerIncludes">
    </th:block>
</head>

<body>
<nav th:replace="fragments/header :: top-bar"></nav>
<div class="container custom-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card custom-box">
                <th:block th:replace="user/fragments :: userPhoto(${profileOwner})">
                </th:block>
                <div class="card-body">
                    <div class="profile-information">
                        <h3>
                            <th:block th:replace="user/fragments :: userFullName(${profileOwner})">
                            </th:block>
                        </h3>
                        <th:block th:replace="user/fragments :: displayUserName(${profileOwner})">
                        </th:block>
                        <th:block th:if="${-1 != noFollowers}"
                                  th:replace="profile/fragments :: displayNoFollowersButton(${profileOwner}, ${noFollowers})">
                        </th:block>
                        <th:block th:if="${-1 != noFollowedUsers}"
                                  th:replace="profile/fragments :: displayNoFollowingUsersButton(${profileOwner}, ${noFollowedUsers})">
                        </th:block>
                        <span th:class="profile-follow-unfollow-button-wrapper"
                              th:include="profile/fragments :: followButton(${profileOwner}, ${userIsFollowed}, true)">
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="card custom-box">
                <div class="text-center column-card-header my-posts">
                    <h3>My posts</h3>
                </div>
                <div class="text-center card-body posts-wrapper">
                    <th:block
                            th:if="${null != session.user AND session.user.userName.equals(profileOwner.userName)}">
                        <th:block th:replace="fragments/forms :: createAPost">
                        </th:block>
                    </th:block>
                    <th:block th:replace="fragments/timeline :: timeline-part">
                    </th:block>
                    <button class="profile-show-more-button btn btn-outline-primary my-2 my-sm-0">
                        Show more posts
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    showMoreFromUserProfile();
</script>
</body>
</html>
