<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: headerIncludes">
    <meta charset="UTF-8">
    <title>User profile</title>
</head>

<body>

    <!--TODO: add user image-->
    <nav th:replace="fragments/header :: top-bar"></nav>
    <div class="profile-information">
        <span th:replace="fragments/userProfileInfo :: profileOwnerInfo"></span>
        <span th:replace="fragments/userProfileInfo :: followButton"></span>
    </div>
    <h3>My posts:</h3>
    <div class="posts-wrapper">
        <th:block th:replace="fragments/timeline :: timeline-part">
        </th:block>
        <button class="profile-show-more-button btn btn-outline-primary my-2 my-sm-0">Show more posts</button>
    </div>
</body>

</html>