<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<!--th:object will be the object that will be populated with data when the form is submitted-->
<form action="#" method="post" th:action="@{/signup}" th:object="${user}">
    <label for="email">Email: </label>
    <input id="email" th:field="*{email}" type="email"/>
    <label for="password">Password</label>
    <input id="password" th:field="*{password}" type="password"/>
    <label for="passwordMatch">Retype password</label>
    <input id="passwordMatch" th:field="*{passwordMatch}" type="password"/>
    <label for="firstName">First name:</label>
    <input id="firstName" th:field="*{firstName}" type="text"/>
    <label for="lastName">First name:</label>
    <input id="lastName" th:field="*{lastName}" type="text"/>
    <input id="submitButton" type="submit" value="Register"/>
</form>
</body>
</html>