<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerIncludes">
    <meta charset="UTF-8">
    <title>Profile settings</title>
</head>
<body>
<nav th:replace="fragments/header :: top-bar"></nav>
<div class="container custom-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card custom-box">
                <th:block th:replace="fragments/userInfo :: userPhoto(${modifiedUser})">
                </th:block>
                <th:block th:replace="settings/imageUploader :: imageUploader(${modifiedUser})">
                </th:block>
                <div class="card-body">
                    <div class="profile-information">
                        <h3>
                            <th:block th:replace="fragments/userInfo :: userFullName(${modifiedUser})">
                            </th:block>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="profile">
                <div th:replace="fragments/forms :: userSettings"></div>
                <!--<div th:replace="fragments/forms :: changePass"></div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
