<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>
        Demetria social network
    </title>
    <th:block th:replace="fragments/header :: headerIncludes">
    </th:block>
</head>

<body>
<div>
    <div class="container custom-container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12 custom-box">
                <div th:replace="fragments/forms :: loginFragment"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 custom-box">
                <div th:replace="fragments/forms :: registerFragment"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>