<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello there, little one! :) You are loggedIN.<br/>
<h1>This page will contain posts from my friends.</h1>
<div class="body-header"></div>
<div class="main-content">
    <div th:replace="fragments/forms :: createAPost"></div>
    here will get timeline

<!--    Divs created with a for in thymleaf-->

    <div>
        post
    </div>
    <div>
        post
    </div>
    <div>
        post
    </div>
</div>
<div class="body-footer"></div>
</body>
</html>