.body-header, .main-content, .body-footer {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 10px;
    /*text-align: center;*/
    /*line-height: 75px;*/
    /*font-size: 30px;*/
}